.client-card {
    height: 550px;
    width: 600px;
    max-width: 600px;
    // border-radius: 50%;
}

.client-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.client-card-header {
    height: 400px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.client-card-image {
    // height: 400px;
}

.client-card-title {
    font-size: 2em;
}

.client-card-action {
    // font-size: 2em;
}

.client-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}