<div class="client-card-container">
  <mat-card class="client-card">
    <div class="client-card-body">
      <div style="flex-grow: 9;">
        <mat-card-header>
          <div class="client-card-header">
            <div class="client-card-title">
              <mat-card-title style="font-size: xx-large;">{{ title }}</mat-card-title>
            </div>
            <div class="client-card-image"><img mat-card-image [src]="url" alt="tinder icon"></div>
          </div>
        </mat-card-header>
      </div>
      <div style="flex-grow: 1;">
        <mat-card-actions class="client-card-action">
          <button mat-fab color="warn" (click)="goToUrl(visitUrl)">
            <mat-icon>home</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>