section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 70px 0vw;
}

h1 {
    font-size: 5rem;
    font-family: 'Raleway'
}

.header-caption {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 200px;
}

.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31
}

.pink {
    background: #FA7268
}

.dark {
    // background: #0f0f10
    background: black
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    // background-color: #0f0f10;
    background-color: black;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: 1;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 328px;
}

.wave .shape-fill {
    fill: #000000;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../../assets/images/layered-waves-haikei.svg');
}

.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
}

.whatsapp-image {
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
}

.social-media {
    position: absolute;
    bottom: 0%;
    left: 30%;
}

.instagram-image,.facebook-image,.twitter-image,.linkedin-image {
    width: 4%;
    opacity: 1;
    margin-right: 150px;
}