<section class="pink">
  <div class="header-caption">
    <h1>Your next digital experience.</h1>
  </div>
  <!-- <div class="clients">
    <app-carousel [data]="data"></app-carousel>
  </div> -->
  <div id="progressbar"></div>
  <div id="scrollpath"></div>
  <app-footer class="app-footer"></app-footer>
</section>
<div class="spacer layer1">
  <a href="https://web.whatsapp.com/send?text=Take a look at this awesome website: www.socialbulls.in" target="_blank"
    data-text="Take a look at this awesome website:" class="whatsapp-image"><img
      src="https://img.icons8.com/ios-filled/50/26e07f/whatsapp--v1.png" /></a>

</div>

<app-splash></app-splash>