<!-- <div class="spacer layer flip"></div> -->
<!-- <section class="red">
  <h1>Your next Business guide!</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque est quisquam assumenda tempora illo,
    nulla ratione adipisci saepe cumque? Iste nisi veritatis deserunt corrupti mollitia debitis blanditiis porro
    pariatur.</p> -->
<!-- <div class="curve"></div> -->
<!-- <div class="wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div> -->
<!-- </section> -->
<!-- <div class="spacer layer1"></div> -->
<!-- <div class="spacer layer1 flip"></div> -->
<section class="pink">
  <h1>How can we help you?</h1>
  <a href="https://web.whatsapp.com/send?text=www.socialbulls.in" data-text="Take a look at this awesome website:"
    class="wa_btn wa_btn_s">Share1</a>
  <!-- <p>Suscipit doloribus cumque in facilis quo exercitationem architecto perspiciatis deserunt optio ipsum magni alias
    impedit ad libero accusantium, rerum consectetur nesciunt nulla excepturi atque hic dolorem vel laboriosam.
    Nesciunt, assumenda!</p> -->
  <svg id="visual" viewBox="0 0 960 300" width="960" height="300" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <g transform="translate(483.4018112096456 134.7360691560034)">
      <path id="blob1"
        d="M84.5 -84C98.4 -70.7 90.7 -35.4 81.9 -8.8C73 17.7 63 35.4 49.2 58.5C35.4 81.7 17.7 110.3 -8.6 118.9C-34.9 127.6 -69.8 116.1 -85.9 92.9C-102.1 69.8 -99.6 34.9 -97.1 2.5C-94.6 -29.9 -92.2 -59.9 -76 -73.2C-59.9 -86.5 -29.9 -83.3 2.7 -86C35.4 -88.7 70.7 -97.4 84.5 -84"
        fill="#BB004B"></path>
    </g>
    <g transform="translate(467.48903058320457 169.6685344074096)" style="visibility: hidden;">
      <path id="blob2"
        d="M59.7 -60.4C84 -35.4 115 -17.7 115 0C115 17.7 84 35.4 59.7 48.7C35.4 62 17.7 71 -7.9 78.9C-33.5 86.8 -66.9 93.6 -80.8 80.3C-94.6 66.9 -88.8 33.5 -88.6 0.2C-88.3 -33 -93.7 -66 -79.8 -91C-66 -116 -33 -133 -7.7 -125.3C17.7 -117.7 35.4 -85.4 59.7 -60.4"
        fill="#BB004B"></path>
    </g>
  </svg>
  <!-- <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
  <script>
    var tween = KUTE.fromTo(
      '#blob1',
      { path: '#blob1' },
      { path: '#blob2' },
      { repeat: 999, duration: 3000, yoyo: true }
    )
    tween.start()
  </script> -->
</section>

<div class="spacer layer1">
  <!-- <button class="btn btn-primary">Hello</button> -->
</div>