<mat-toolbar class="nav-bar" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <a routerLink="/home">Social Bulls</a>
  </div>
  <div class="navigation-items-container" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="0px" class="navigation-items">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/blogs">Blogs</a></li>
      <li>
        <a href="javascript:void(0);">
          <mat-list-item [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
            <!-- <a matline>Profile</a> -->
          </mat-list-item>
        </a>
      </li>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onShowProfile()">View Profile</button>
        <button mat-menu-item (click)="onSignOut()" *ngIf="isLoggedIn">Sign out</button>
        <button mat-menu-item (click)="onSignIn()" *ngIf="!isLoggedIn">Sign in</button>
      </mat-menu>
    </ul>
  </div>
</mat-toolbar>