<div class="service-container">
  <div class="row row1">
    <app-flip-card class="service-card" @servicesAnimation1>
      <flip-card-front>
        <h2>Social Media Marketing.</h2>
      </flip-card-front>
      <flip-card-back>
        <h2>This is a card back.</h2>
      </flip-card-back>
    </app-flip-card>

    <app-flip-card class="service-card" @servicesAnimation2>
      <flip-card-front>
        <h2>Media Planning.</h2>
      </flip-card-front>
      <flip-card-back>
        <h2>Collateral Design.</h2>
      </flip-card-back>
    </app-flip-card>
  </div>
  <div class="row row2">
    <app-flip-card class="service-card" @servicesAnimation3>
      <flip-card-front>
        <h2>Collateral Design.</h2>
      </flip-card-front>
      <flip-card-back>
        <h2>This is a card back.</h2>
      </flip-card-back>
    </app-flip-card>

    <app-flip-card class="service-card" @servicesAnimation4>
      <flip-card-front>
        <h2>Website Design and Development.</h2>
      </flip-card-front>
      <flip-card-back>
        <h2>This is a card back.</h2>
      </flip-card-back>
    </app-flip-card>
  </div>
  <div class="row row3">
    <app-flip-card class="service-card" @servicesAnimation5>
      <flip-card-front>
        <h2>Youth Design.</h2>
      </flip-card-front>
      <flip-card-back>
        <h2>This is a card back.</h2>
      </flip-card-back>
    </app-flip-card>

    <app-flip-card class="service-card" @servicesAnimation6>
      <flip-card-front>
        <h2>Search Engine Optimization.</h2>
      </flip-card-front>
      <flip-card-back>
        <h2>This is a card back.</h2>
      </flip-card-back>
    </app-flip-card>
  </div>
</div>