.service-container {
    padding: 30px;
    position: absolute;
    height: 88vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid red
}

.service-card {
    margin: 40px 15px

}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
}
